
      <div class="country-card">
        <img src="{{0.flags.svg}}" alt="{{0.name.official}}" width="20" height="20" />
        <h2 class="country-name">{{0.name.official}}</h2>
      </div>
<p class = "country-title"><span>Capital:</span>{{0.capital}}</p>
<p class = "country-title"><span>Population:</span>{{0.population}}</p>
<p class="country-title"><span>Languages:</span>{{0.languages}}</p>

